In [1]:
#encoding=utf-8

In [32]:
import sqlite3

In [33]:
conn = sqlite3.connect('Report.db')

In [29]:
conn.execute('drop TABLE PM_Cost')

In [34]:
conn.execute('''CREATE TABLE PM_Cost
                (ID CHAR(20),
                 成本中心 CHAR(4),
                 账户  CHAR(6),
                 描述 CHAR(70),
                 预算分类 CHAR(20),
                 类型 CHAR(20),
                 费用类型 CHAR(20),
                 版本 CHAR(10),
                 年份 CHAR(4),
                 财年费用 FLOAT,
                 日历年费用 FLOAT,
                 '1月' FLOAT,
                 '2月' FLOAT,
                 '3月' FLOAT,
                 '4月' FLOAT,
                 '5月' FLOAT,
                 '6月' FLOAT,
                 '7月' FLOAT,
                 '8月' FLOAT,
                 '9月' FLOAT,
                 '10月' FLOAT,
                 '11月' FLOAT,
                 '12月' FLOAT)''')

In [35]:
conn.close()

In [1]:
#encoding=utf-8

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('Report.db')

In [10]:
conn.execute("UPDATE UserInfo set 部门='成都技术中心' where ID='PE14'")

In [11]:
conn.commit()

In [12]:
conn.close()

In [2]:
import pymysql as psql

In [5]:
conn=psql.connect(host='10.114.48.44',port=3306,user='awangg2',passwd='123456',db='DB_Test',charset='utf8',cursorclass=psql.cursors.DictCursor
)

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine("mysql+pymysql://awangg2:123456@10.114.48.44:3306/DB_Test?charset=utf8")

In [12]:
import pandas as pd

In [15]:
df=pd.read_csv(r'C:\D\result.csv',encoding='GBK')

In [17]:
df.to_sql(name = 'FlatFile',con = engine,if_exists = 'append',index = False,index_label = False)

C:\Anaconda3\lib\site-packages\pandas\io\sql.py:1165: UserWarning: The provided table name 'FlatFile' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [75]:
cur=conn.cursor()

In [33]:
_
                 ID CHAR(20),
                 成本中心 CHAR(4),
                 账户  CHAR(6),
                 描述 CHAR(70),
                 预算分类 CHAR(20),
                 类型 CHAR(20),
                 费用类型 CHAR(20),
                 版本 CHAR(10),
                 年份 CHAR(4),
                 财年费用 FLOAT,
                 日历年费用 FLOAT,
                 一月 FLOAT,
                 二月 FLOAT,
                 三月 FLOAT,
                 四月 FLOAT,
                 五月 FLOAT,
                 六月 FLOAT,
                 七月 FLOAT,
                 八月 FLOAT,
                 九月 FLOAT,
                 十月 FLOAT,
                 十一月 FLOAT,
                 十二月 FLOAT )"""

In [82]:
query = """INSERT INTO pm_test (ID,成本中心,账户,描述,预算分类,类型,费用类型,版本,年份,财年费用,日历年费用,一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月
                                    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

In [77]:
import xlrd

In [89]:
book = xlrd.open_workbook(r"C:\Users\awangg2\Documents\我接收到的文件\basedata.xlsx")

In [90]:
sheet = book.sheet_by_name(u"预算基础数据库") #指定获取excel信息的sheet页名称

In [91]:
for r in range(1, sheet.nrows):
    a1= sheet.cell(r,0).value
    a2= sheet.cell(r,1).value
    a3= sheet.cell(r,2).value
    a4= sheet.cell(r,3).value
    a5= sheet.cell(r,4).value
    a6= sheet.cell(r,5).value
    a7= sheet.cell(r,6).value
    a8= sheet.cell(r,7).value
    a9= sheet.cell(r,8).value
    a10= sheet.cell(r,9).value
    a11= sheet.cell(r,10).value
    a12= sheet.cell(r,11).value
    a13= sheet.cell(r,12).value
    a14= sheet.cell(r,13).value
    a15= sheet.cell(r,14).value
    a16= sheet.cell(r,15).value
    a17= sheet.cell(r,16).value
    a18= sheet.cell(r,17).value
    a19= sheet.cell(r,18).value
    a20= sheet.cell(r,19).value
    a21= sheet.cell(r,20).value
    a22= sheet.cell(r,21).value
    a23= sheet.cell(r,22).value
    values = (a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a17,a18,a19,a20,a21,a22,a23)
   
    cur.execute(query,values)    #使用for循环获取excel文件中每行数据

In [47]:
sql="delete from pm_test"

In [48]:
cur.execute(sql)

78

In [92]:
conn.commit()

In [93]:
cur.close()

In [94]:
conn.close()